{# шаблон личного кабинета пользователя #}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'styles/base.css' %}">
<html>
<head>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.0.min.js"></script>
</head>
<body>
<div class="panel">
    <div id="header">
        <div id="branding">
            <h1 id="site-name"><a href="{% url 'lit_work_list' %}">Сервис лингвистической разметки</a></h1>
        </div>
        <div id="user-tools">
            <a href="{% url 'lit_work_list' %}"> Открыть сайт </a><span> / </span>
            <a href="{% url 'account_form' pk=user.pk %}">Изменить параметры</a><span> / </span>
            {% if user.is_superuser %}
                <a href="/admin/">Панель администратора</a><span> / </span>
            {% endif %}
            <a href="{% url 'auth_logout' %}">Выйти</a>
        </div>
    </div>
    <div id="content" class="colMS">
        <div id="content-main">
            <div class="app-cabinet module">
                <h2>{{ user.username }}</h2>
                <p class="content">
                    <label>Фамилия:</label>
                    <span>{{ user.last_name|linebreaksbr }}</span>
                </p>
                <p class="content">
                    <label>Имя:</label>
                    <span>{{ user.first_name|linebreaksbr }}</span>
                </p>
                <p class="content">
                    <label>email:</label>
                    <span>{{ user.email|linebreaksbr }}</span>
                </p>
                <p class="content">
                    <label>Присоединился:</label>
                    <span>{{ user.date_joined|linebreaksbr }}</span>
                </p>
            </div>
            <div class="app-cabinet module">
                <h2>Мои тексты<a class="add" href="{% url 'work_new' %}">Добавить</a></h2>
                {% for work in works %}
                    <div class="article">
                        <p class="content"><a href="{% url 'work_detail' pk=work.pk %}">{{ work.title }}</a></p>
                    </div>
                {% endfor %}
            </div>
            <div class="app-cabinet module">
                <h2>Авторы<a class="add" href="{% url 'author_new' %}">Добавить</a></h2>
                {% for a in authors %}
                    <div class="article">
                        <p class="content"><a href="{% url 'author_detail' pk=a.pk %}">{{ a.last_name }} {{ a.first_name }}</a></p>
                    </div>
                {% endfor %}
            </div>
            <div class="app-cabinet module">
                <h2>Мои коллекции<a class="add" href="{% url 'collection_new' %}">Добавить</a></h2>
                {% for collection in collections %}
                    <div class="article">
                        <p class="content"><a href="{% url 'coll_detail' pk=collection.pk %}">{{ collection.title }}</a></p>
                    </div>
                {% endfor %}
            </div>
            <div class="app-cabinet module">
                <h2>Мои издательства<a class="add" href="{% url 'pub_new' %}">Добавить</a></h2>
                {% for pub in publishers %}
                    <div class="article">
                        <p class="content"><a href="{% url 'pub_detail' pk=pub.pk %}">{{ pub.title }}</a></p>
                    </div>
                {% endfor %}
            </div>
            <div class="app-cabinet module">
                <h2>Мои выборки</h2>
                {% for s in searches %}
                    <div class="article">
                        <p class="content">Выборка от <button id="{{ s.id }}" data-info="{{ s.data }}" class="search" >{{ s.created_date }}</button></p>
                    </div>
                {% endfor %}
            </div>
            <div class="app-cabinet module">
                <h2>Правки</h2>
                {% for m in marks %}
                    <div class="article">
                        <p class="content">Правка № <a id="{{ m.id }}" href="{% url 'view_mark' pk=m.pk %}" class="search" >{{ m.id }}</a></p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
        $('.search').click(function(){
            if (this.getAttribute('data-info').split('"')[1] ==='title'){
                window.location.replace('{% url 'cql' %}?saved=true&data='+this.getAttribute('data-info'));
            }
            else{
                window.location.replace('{% url 'work_filters' %}?saved=true&data='+this.getAttribute('data-info'));
            }
        });
    </script>
</div>
</body>
<html>