{% extends 'cabinet/lit_work_show.html' %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'styles/base.css' %}">
{% block content %}
    <h1>Добавление тега</h1>
    <div>
        <form enctype="multipart/form-data" method="POST" class="post-form">{% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Сохранить"/>
        </form>
    </div>
    <script>
        $(document).ready(function () {
            path = document.location.pathname.split('/');
            type = $('#id_el_type');
            $(type).val(path[4]);
            $(type).attr('disabled','disabled');
            $('#id_el_id').val(path[3]);
            $('#id_el_id').attr('disabled','disabled');
        });
    </script>
{% endblock %}