 {% extends 'cabinet/lit_work_show.html' %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">

    {% block content %}
        {% if user.is_authenticated %}
            {% for work in works %}
                <div class="article">
                  <h2> <a href="{% url 'work_detail' pk=work.pk %}">{{ work.title }}</a></h2>
                  <div class="clr"></div>
                  <p class="infopost">Опубликовано <span class="date">{{ work.created_date }}</span> <a href="#">{{ work.owner }}</a> &nbsp;|&nbsp; </p>
                  <img src="{% static "images/img1.jpg" %}" width="201" height="146" alt="" class="fl" />
                    <p class="content">{{ work.sub_title|linebreaksbr }}</p>
                    <p class="content">{{ work.collection|linebreaksbr }}</p>
                  <p class="spec"><a href="{% url 'work_detail' pk=work.pk %}" class="rm">Узнать больше &raquo;</a></p>
                </div>
            {% endfor %}
        {% else %}
            <div class="article">
                <h2> <a href=" {% url 'auth_login' %}" >Авторизуйтесь</a> , чтобы просматривать существующие тексты. </h2>
            </div>
        {% endif %}
    {% endblock content %}

