{% extends 'cabinet/lit_work_show.html' %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'styles/base.css' %}" type="text/css" media="screen" />
{% block content %}
    <h2>Поиск по текстам</h2>
    <input style="width:85%; padding: 10px;" data-name="title" name="editbox_search" class="editbox_search work word" id="id_name" maxlength="80" placeholder="Слово..." type="text" />
    <button style="border: none;" class="button show_filters">Показать фильтры</button>
    <label  class="alert" style="display: none;">Поле обязательно для заполнения!</label>
    <div id="filters"  style="display: none;">
        <div class="article">
            <div style="display: inline-block;">
                <form method="get" action="/filters/" class="post-form">{% csrf_token %}
                    <table>
                        {{ form1.as_table }}
                    </table>
                </form>
            </div>
            <div style="display: inline-block;">
                <form method="post" action="/results/" class="post-form">{% csrf_token %}
                    <table>
                        {{ form2.as_table }}
                    </table>
                </form>
            </div>

        </div>
    </div>
    <div class="buttons">
        <button type="submit" class=" button submit">Поиск</button>
        <button type="reset" class="cancel btn btn-default">Очистить</button>
    </div>
    <div class="results">
        <table class="table">

        </table>
    </div>

    {% csrf_token %}
    <script type="text/javascript">

        word = $('.editbox_search');

        $('.show_filters').click(function(){
            filters = document.getElementById('filters');
            if (filters.style.display=="none") {
                filters.style.display = "block";
            }
            else {
                filters.style.display = "none";
            }
        });
        $('.cancel').click(function(){
            filters = document.querySelectorAll('[id^="id_"]');
            $(filters).each(function(e, val){
                $(val).val('');
            })
        });
        $('.submit').click(function(){
                name_query = $('.editbox_search');
                results = $('.table');
                var data = {work:{}, word:{}};
                $(".work[data-name]").each(function(e, obj){
                    if ($(this).val() && $(this).val()!== '' && $(this).val()!== 'none' && $(this).val()!== 'empty') {
                        if (obj.type == 'checkbox') {
                            data['work'][obj.getAttribute('data-name')] = obj.checked;
                        }
                        else {
                            data['work'][obj.getAttribute('data-name')] = obj.value;
                        }
                    }
                });
                $(".word[data-name]").each(function(e, obj){
                    if ($(this).val()!== '' && $(this).val()!== 'none' && $(this).val()!== 'empty') {
                        if (obj.type == 'checkbox') {
                            data['word'][obj.getAttribute('data-name')] = obj.checked;
                        }
                        else {
                            data['word'][obj.getAttribute('data-name')] = obj.value;
                        }
                    }
                });
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                var csrftoken = getCookie('csrftoken');
                function csrfSafeMethod(method) {
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });$(function () {
                    $.ajaxSetup({
                        headers: { "X-CSRFToken": getCookie("csrftoken") }
                    });
                });
                if ($(name_query).val() !== ''){
                    $('.alert').attr('style', 'display: none;');
                    $.ajax({
                        url: '/search/results/',
                        dataType: 'html',
                        type: 'POST',
                        data: JSON.stringify(data)
                    }).done(function(e){
                        results.hide();
                        results.before(e);
                        setTimeout(function(){
                            results.remove();
                        }, 1);

                        before = $('.before');
                        after = $('.after');

                        $(before).each(function(e,b){
                            $(b)[0].innerText = $(b)[0].innerText.toLowerCase().split(word.val())[0];
                        });
                        $(after).each(function(e,a) {
                            $(a)[0].innerText = $(a)[0].innerText.toLowerCase().split(word.val())[1];
                        });
                    }).fail(function(e){
                        console.log(e);
                    });
                }
                else {
                    $('.alert').attr('style', 'display: block;');
                }
            }
        );
    </script>
{% endblock content %}







