{% extends 'cabinet/lit_work_show.html' %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'styles/base.css' %}">
{% block content %}
    <div class="article">
        {% if work.published_date %}
            <div class="date">
                <span>Дата добавления:</span>{{ work.published_date }}
            </div>
        {% endif %}
        <br/>
        <h1>{{ work.title }} <a style="font-size:16px; font-style: italic; float: right;" href="{% url 'work_edit' pk=work.pk %}">Изменить</a></h1>
        <table style="margin-bottom: 15px;">
            <tr>
                <th style="width:40%"></th>
                <th style="width:40%"></th>
            </tr>
            <tr>
                <td><span class="td" >Подзаголовок:</span></td>
                <td><span>{{ work.sub_title|linebreaksbr }}</span></td>
            </tr>
            <tr>
                <td><span class="td">Текст произведения:</span></td>
                <td><span>{{ work.file|linebreaksbr }}</span></td>
            </tr>
            <tr>
                <td> <span class="td">Опубликовано:</span></td>
                <td><span>{{ work.is_published|linebreaksbr }}</span></td>
            </tr>
            <tr>
                <td><span class="td">Издание:</span></td>
                <td><span>{{ work.publish_title|linebreaksbr }}</span></td>
            </tr>
            <tr>
                <td><span class="td">Издательство:</span></td>
                <td><span>{{ work.publisher_title_id|linebreaksbr }}</span></td>
            </tr>
            <tr>
                <td><span class="td">Дата публикации:</span></td>
                <td><span>{{ work.publish_date|linebreaksbr }}</span></td>
            </tr>
            <tr>
                <td><span class="td">Редакция:</span></td>
                <td><span>{{ work.collection|linebreaksbr }}</span></td>
            </tr>
            <tr>
                <td><span class="td">Принадлежит коллекции:</span></td>
                <td><span>{{ work.collection|linebreaksbr }}</span></td>
            </tr>
        </table>
    </div>
    <a class="button" href="{% url 'mark_up' pk=work.pk %}">Запустить автоматическую разметку</a>
    {% if sentences %}
        <a class="button" href="{% url 'sentences' pk=work.pk %}">Предложения(Excel)</a>
    {% else %}
        <a class="button" href="{% url 'sentences' pk=work.pk %}">Предложения</a>
    {% endif %}
    {% if analysed %}
        <a class="button" href="{% url 'analysis' pk=work.pk %}">Анализ абзацев(Excel)</a>
    {% else %}
        <a class="button" href="{% url 'analysis' pk=work.pk %}">Анализ абзацев</a>
    {% endif %}
{% endblock %}