{% extends 'cabinet/lit_work_show.html' %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'styles/base.css' %}">
{% block content %}
    <div class="article">
        {% if work.published_date %}
            <div class="date">
                <span>Дата добавления:</span>{{ work.published_date }}
            </div>
        {% endif %}
        <br/>
        <h2>{{ work.title }} <a style="font-size:16px; font-style: italic; float: right; color:white" href="{% url 'work_edit' pk=work.pk %}">Изменить</a></h2>
        <br/>
        <table style="margin-bottom: 15px;">
            <tr>
                <td><span class="td" >Авторы:</span></td>
                <td>
                    <span><a href="{% url 'author_detail' pk=work.author.pk %}">{{ work.author|linebreaksbr }}</a>
                        {% for a in authors %}
                            , <a href="{% url 'author_detail' pk=a.pk %}">{{ a.last_name }} {{ a.first_name }}</a>
                        {% endfor %}
                    </span>
                </td>
            </tr>
            <tr>
                <td><span class="td" >Подзаголовок:</span></td>
                <td><span>{{ work.sub_title|linebreaksbr }}</span></td>
            </tr>
            <tr>
                <td><span class="td">Текст произведения:</span></td>
                <td><span>{{ work.file|linebreaksbr }}</span></td>
            </tr>
            <tr>
                <td> <span class="td">Опубликовано:</span></td>
                <td><span>{{ work.is_published|linebreaksbr }}</span></td>
            </tr>
            <tr>
                <td><span class="td">Издание:</span></td>
                <td><span>{{ work.publish_title|linebreaksbr }}</span></td>
            </tr>
            <tr>
                <td><span class="td">Издательство:</span></td>
                <td><span>{{ work.publisher_title_id|linebreaksbr }}</span></td>
            </tr>
            <tr>
                <td><span class="td">Дата публикации:</span></td>
                <td><span>{{ work.publish_date|linebreaksbr }}</span></td>
            </tr>
            <tr>
                <td><span class="td">Редакция:</span></td>
                <td><span>{{ work.collection|linebreaksbr }}</span></td>
            </tr>
            <tr>
                <td><span class="td">Принадлежит коллекции:</span></td>
                <td><span>{{ work.collection|linebreaksbr }}</span></td>
            </tr>
        </table>
        <table >
            <tr><td><a class="button" style=" float: right; " href="{% url 'add_authors' pk=work.pk %}">Добавить соавторов</a></td>
                <td><a class="button" style=" float: right; " href="{% url 'mark_up' pk=work.pk %}">Запустить автоматическую разметку</a></td>
                <td><a class="button" style=" float: right;" href="{% url 'add_mark' pk=work.pk type='work' %}?next={{ request.path }}">Предложить правку</a></td>
                <td><a class="button" style="float: right; " href="{% url 'add_tag' type='text' id=work.id %}?next={{ request.path }}">Теги</a></td>
            </tr>
        </table>
    </div>

    <h2> Статистика </h2>
    <h3> Предложения: </h3>
    <table>
        <tr>
            <th>Количество предложений:</th><td>{{ s_count }}</td>
        </tr>
        <tr>
            <th>Среднее число слов:</th><td>{{ w_count }}</td>
        </tr>
    </table>
    <h3> Абзацы: </h3>
    <table>
        <tr>
            <th>Количество абзацев:</th><td>{{ p_count }}</td>
        </tr>
        <tr>
            <th>Средняя длина абзаца:</th><td>{{ p_length }}</td>
        </tr>
    </table>

{% endblock %}